fastapi
streamlit
hypercorn
python-docx
uvicorn[standard]
python-multipart
torch
torchvision
torchaudio
langchain-google-genai
langchain-core
langchain
python-doctr
tf2onnx
opencv-python-headless
opencv-python
Pillow
urllib3
pandas
exceptions