fastapi==0.100.0
streamlit
hypercorn
uvicorn[standard]
python-multipart
torch
torchvision
torchaudio
langchain-google-genai
langchain-core
langchain
python-doctr
tf2onnx
opencv-python-headless
Pillow
numpy
pandas